<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>ToDoList</title>
    <script src="./vue.js"></script>
</head>

<body>
    <div id="root">
        <div>
            <input v-model="inputValue" />
            <button @click="handelClick">submit</button>
        </div>
        <ul>
            <todo-item v-for="(item,index) of list" 
            :key="index" 
            :content="item"
            :index="index"
            @delete="handelDelete"></todo-item>
        </ul>
    </div>

    <script>
        Vue.component('todo-item', {
            props: ['content','index'],
            template: '<li @click="click()">{{content}}</li>',
            methods: {
                click: function () {
                   this.$emit('delete',this.index)
                }
            }
        })



        // var TodoItem = {
        //     template: "<li>{{item}}</li>"
        // }
        new Vue({
            el: '#root',
            // components: {
            //     'todo-item': TodoItem
            // },
            data: {
                inputValue: "",
                list: []
            },
            methods: {
                handelClick: function () {
                    this.list.push(this.inputValue)
                    this.inputValue = null
                },
                handelDelete:function(e){
                    this.list.splice(e,1)
                }
            }
        })



        String.prototype.reverse = function(str){
            return str.split("").reverse().join('');

        }
    </script>
</body>

</html>